<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- 商品 -->
	<!-- 注入方式2 自动注入 byType -->
	<bean name="goodsService" class="cn.edu.cqvie.spring.service.GoodsService" autowire="byType">
		<!-- 注入方式1 注入方式手动注入 -->
		<!--<property name="stockService" ref="stockService"></property> -->
	</bean>

	<!-- 库存 -->
	<bean name="stockService" class="cn.edu.cqvie.spring.service.StockService">
	</bean>

</beans>